

@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,500,700' ); 
:root{
    --dark:#350363;
    --background:#ff99db;
    --white:#ffffff;
    --bgbody: #431579;
}


*, *::after, *::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
    font-size: 62.5%; /* 1rem = 10px */
    line-height: 1.4;
}

body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color:var(--bgbody);
 }



main{
    width: 30vw;
    background-color: var(--background);
    padding: 10px 20px;
    border: solid var(--dark);
    border-width: 5px;
    border-radius: 10px;
    text-align: center;
}

h1{
    font-size: 2.5rem; 
    font-weight: 500; ;
}

h3 {
    font-size: 1.5rem; 
    font-weight: 500;
}

p{
    font-size: 1.8rem;
}

.image {
    width: 90%;
    max-width: 22rem;
    height: auto;
    object-fit: cover;
    margin: 1rem 0 4rem 0;
}


.event-selection  .btn-wrapper{
    width: 100%;
 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 1.2rem 0;
}

.btn{
    width: 100%;
    min-width: 25rem;
    user-select: none;
    padding: 10px 15px;
    border: none;
    margin-bottom: 1rem;
    background: var(--bgbody);
    color: var(--white);
    text-align: center;
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    cursor: pointer;
    border-radius: .8rem;
    transition: all .3s ease-in-out;
    text-shadow: rgba(0, 0, 0, .25) 0 3px 5px;
}

button:last-child{
    background: var(--dark);
}






/* game-area  */

#game-area {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
}
#newGameBtn {
    margin: 1.5rem 0;
}


#guessNow input {
    border: .1rem solid #2f5bb7;
    background: transparent;
    padding: 10px 26px;
   
    width: 20rem;
    margin-top: .6rem;
    margin-bottom: .5rem;
    text-align: center;
    cursor: pointer;
}

#guessNow input::placeholder{
    text-transform: capitalize;
    color: #2f5bb7;
    font-weight: 700;
}

#guessNow input:focus {
    outline: none;
}

#newGameInit{
    display: none;
}


#statistics{
    width: 100%;
    display: flex; 
    flex-direction: column;
    text-transform: capitalize;
    margin-top: 1.4375rem;
}

#statistics .info {
    /* margin: 1rem 0; */
}

#statistics .info span{
    font-size: 1.2rem;
    color: #df0d0d;
}









/* responsiess */

@media screen and (max-width:468px) {
     main {
        width: 90%;
        margin: auto;
     }

     h1 {
         font-size: 1.8rem;
     }

     p{
         font-size: 1.1rem;
     }
}

@media screen and (max-width:768px) and (min-width:468px) {
        main {
            width: 45vw;
            margin: auto;
        }
}